In [1]:
# Import Dependencies
import pandas as pd
import gmaps
import requests

In [13]:
# Configure gmaps
# Google developer API key
from config import g_key

In [14]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Fortuna,40.5982,-124.1573,59.00,72,1,6.91,US,2021-04-23 21:59:22
1,1,Kutum,14.2000,24.6667,79.65,17,60,9.35,SD,2021-04-23 21:59:22
2,2,Barrow,71.2906,-156.7887,19.40,79,1,3.44,US,2021-04-23 21:59:22
3,3,Dikson,73.5069,80.5464,32.20,97,100,18.57,RU,2021-04-23 21:59:23
4,4,Sakakah,29.9697,40.2064,78.80,11,0,8.05,SA,2021-04-23 21:59:23

In [15]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [16]:
# Configure gmaps to use your Google API key.
#gmaps.configure(api_key=g_key)

In [17]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

InvalidWeightException: -0.53 is not a valid weight. Weights must be non-negative.

In [18]:
locations

         Lat       Lng
0    40.5982 -124.1573
1    14.2000   24.6667
2    71.2906 -156.7887
3    73.5069   80.5464
4    29.9697   40.2064
..       ...       ...
568  36.6244 -119.3137
569  65.8167   87.9833
570 -36.7167  -73.1167
571  45.7453  -87.0646
572  62.2266   -6.5890

[573 rows x 2 columns]

In [19]:
max_temp

0      59.00
1      79.65
2      19.40
3      32.20
4      78.80
       ...
568    80.01
569    23.18
570    57.20
571    57.20
572    42.80
Name: Max Temp, Length: 573, dtype: float64

In [20]:
max_temp.loc[max_temp < 0]

115   -0.53
Name: Max Temp, dtype: float64

In [21]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [190]:
temps

[59.0,
 79.65,
 19.4,
 32.2,
 78.8,
 91.27,
 61.0,
 32.0,
 50.0,
 59.83,
 64.4,
 79.11,
 87.8,
 68.0,
 61.0,
 46.0,
 38.14,
 55.4,
 51.8,
 57.47,
 39.99,
 80.29,
 37.4,
 46.0,
 64.4,
 28.4,
 62.01,
 48.2,
 75.2,
 62.6,
 81.1,
 79.41,
 82.56,
 75.2,
 78.49,
 42.8,
 39.2,
 59.0,
 82.4,
 78.51,
 28.98,
 46.4,
 26.78,
 24.22,
 64.4,
 59.0,
 15.8,
 35.85,
 78.8,
 24.8,
 80.6,
 35.42,
 79.83,
 73.4,
 51.01,
 81.0,
 75.97,
 57.0,
 46.51,
 80.1,
 59.0,
 71.6,
 89.6,
 82.0,
 34.59,
 84.2,
 35.67,
 17.6,
 77.0,
 51.85,
 60.01,
 76.8,
 69.8,
 39.2,
 55.4,
 55.99,
 75.2,
 62.55,
 39.2,
 82.92,
 20.37,
 39.2,
 50.0,
 59.0,
 54.0,
 64.45,
 73.99,
 55.4,
 50.0,
 78.84,
 58.1,
 69.8,
 52.0,
 68.99,
 66.43,
 82.4,
 47.35,
 57.99,
 41.0,
 59.0,
 50.0,
 66.92,
 65.23,
 53.01,
 51.44,
 85.12,
 59.0,
 73.99,
 24.8,
 33.6,
 34.07,
 80.6,
 16.38,
 30.61,
 57.72,
 0,
 12.76,
 57.15,
 59.86,
 51.01,
 82.4,
 82.81,
 53.6,
 50.0,
 14.0,
 61.34,
 35.6,
 34.92,
 72.66,
 43.0,
 31.51,
 60.01,
 64.4,
 33.01,
 81.1,
 84.2,
 75.11,
 62.6,
 28.94,
 55.99,
 81.48,
 77.0,
 93.34,
 60.8,
 28.4,
 65.61,
 46.0,
 36.16,
 54.0,
 71.01,
 37.4,
 66.2,
 70.84,
 80.85,
 75.58,
 44.6,
 61.0,
 82.0,
 37.0,
 56.77,
 79.0,
 84.2,
 39.2,
 71.6,
 39.2,
 60.01,
 42.01,
 66.99,
 34.11,
 35.6,
 87.75,
 80.24,
 44.65,
 82.4,
 64.99,
 61.16,
 86.0,
 59.54,
 64.99,
 43.11,
 70.59,
 63.12,
 59.4,
 58.01,
 78.49,
 39.2,
 85.37,
 42.01,
 78.6,
 76.26,
 81.9,
 57.2,
 69.8,
 50.05,
 82.31,
 7.45,
 38.46,
 78.01,
 80.4,
 57.2,
 80.6,
 58.69,
 23.7,
 69.39,
 69.49,
 87.8,
 32.49,
 82.4,
 43.0,
 32.0,
 69.8,
 32.0,
 46.99,
 59.0,
 13.35,
 22.28,
 71.6,
 35.56,
 77.61,
 78.87,
 65.59,
 75.2,
 69.8,
 22.32,
 80.6,
 69.31,
 26.29,
 79.0,
 22.15,
 46.4,
 98.65,
 44.31,
 68.0,
 81.23,
 84.2,
 79.07,
 4.24,
 35.6,
 57.99,
 33.17,
 65.52,
 79.25,
 10.76,
 62.6,
 78.8,
 84.85,
 71.6,
 89.6,
 39.2,
 74.26,
 55.99,
 16.0,
 70.66,
 51.3,
 77.0,
 82.4,
 63.27,
 70.99,
 50.0,
 50.0,
 51.8,
 59.81,
 59.0,
 51.8,
 37.4,
 42.8,
 59.0,
 73.56,
 36.0,
 78.8,
 84.2,
 81.82,
 55.4,
 53.6,
 28.99,
 64.99,
 51.8,
 78.22,
 73.99,
 18.39,
 33.67,
 49.84,
 47.8,
 42.01,
 34.92,
 71.6,
 53.6,
 59.0,
 80.26,
 57.2,
 40.23,
 62.6,
 77.0,
 63.1,
 54.0,
 67.08,
 33.6,
 31.23,
 77.0,
 83.43,
 41.94,
 51.01,
 74.44,
 82.4,
 65.98,
 64.02,
 41.0,
 57.99,
 55.4,
 65.05,
 81.0,
 30.04,
 79.72,
 32.95,
 59.0,
 45.0,
 53.76,
 67.59,
 57.2,
 69.8,
 75.76,
 83.98,
 71.64,
 75.78,
 72.95,
 77.77,
 78.3,
 20.59,
 72.0,
 35.6,
 63.0,
 80.6,
 80.73,
 51.8,
 79.0,
 79.0,
 62.01,
 64.33,
 78.24,
 30.0,
 42.8,
 24.26,
 75.2,
 36.07,
 52.0,
 64.0,
 77.14,
 80.2,
 30.36,
 31.48,
 62.6,
 63.0,
 78.01,
 82.4,
 82.4,
 82.99,
 69.37,
 73.4,
 76.68,
 89.49,
 80.24,
 61.0,
 18.37,
 30.2,
 28.36,
 53.6,
 70.27,
 60.8,
 81.1,
 69.78,
 60.8,
 35.6,
 32.72,
 32.07,
 96.01,
 30.97,
 64.0,
 59.0,
 66.79,
 55.53,
 91.99,
 72.46,
 78.8,
 63.0,
 50.0,
 28.83,
 34.16,
 79.23,
 33.12,
 34.38,
 69.8,
 77.0,
 75.0,
 34.7,
 32.54,
 86.0,
 79.74,
 28.47,
 35.6,
 68.0,
 71.6,
 54.0,
 77.0,
 21.02,
 42.01,
 82.08,
 84.85,
 52.66,
 79.63,
 82.4,
 80.6,
 29.98,
 59.0,
 73.99,
 83.91,
 64.4,
 51.71,
 78.22,
 61.0,
 62.01,
 76.12,
 73.4,
 46.0,
 82.4,
 32.81,
 37.4,
 31.19,
 53.6,
 57.47,
 56.79,
 31.53,
 70.79,
 77.7,
 73.83,
 95.0,
 67.32,
 66.2,
 33.8,
 46.99,
 28.4,
 73.29,
 66.04,
 39.2,
 43.72,
 55.4,
 51.8,
 80.42,
 89.65,
 14.67,
 35.6,
 62.8,
 75.65,
 26.6,
 71.6,
 87.49,
 57.2,
 63.12,
 68.11,
 62.6,
 72.97,
 53.6,
 82.58,
 86.0,
 41.0,
 44.6,
 84.2,
 82.76,
 37.4,
 54.0,
 78.8,
 31.87,
 68.0,
 74.14,
 49.6,
 74.59,
 50.65,
 78.17,
 82.0,
 74.34,
 78.53,
 36.81,
 95.49,
 89.02,
 23.88,
 70.7,
 57.99,
 36.0,
 78.8,
 22.82,
 46.4,
 55.0,
 54.0,
 78.82,
 62.6,
 59.0,
 66.09,
 46.99,
 66.2,
 77.85,
 63.0,
 80.6,
 72.37,
 69.01,
 59.0,
 26.35,
 10.22,
 64.04,
 32.0,
 34.52,
 88.0,
 57.81,
 59.0,
 75.2,
 37.47,
 77.0,
 80.83,
 87.64,
 91.42,
 82.4,
 75.2,
 59.0,
 27.57,
 59.0,
 57.0,
 62.01,
 72.09,
 62.6,
 43.0,
 83.08,
 68.88,
 73.63,
 74.34,
 37.99,
 70.7,
 77.36,
 60.01,
 63.0,
 86.45,
 77.0,
 44.42,
 51.31,
 53.91,
 36.46,
 82.13,
 83.08,
 64.99,
 73.33,
 46.0,
 33.8,
 19.15,
 83.44,
 61.0,
 55.0,
 33.04,
 83.46,
 36.34,
 37.58,
 73.92,
 86.0,
 65.07,
 33.46,
 48.2,
 77.95,
 77.54,
 68.0,
 45.32,
 61.0,
 69.8,
 80.01,
 23.18,
 57.2,
 57.2,
 42.8]

In [22]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
locations

         Lat       Lng
0    40.5982 -124.1573
1    14.2000   24.6667
2    71.2906 -156.7887
3    73.5069   80.5464
4    29.9697   40.2064
..       ...       ...
568  36.6244 -119.3137
569  65.8167   87.9833
570 -36.7167  -73.1167
571  45.7453  -87.0646
572  62.2266   -6.5890

[573 rows x 2 columns]

In [23]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
max_temp

0      59.00
1      79.65
2      19.40
3      32.20
4      78.80
       ...
568    80.01
569    23.18
570    57.20
571    57.20
572    42.80
Name: Max Temp, Length: 573, dtype: float64

In [24]:
city_data_df.loc[city_data_df["Max Temp"] < 0]

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
115,115,Chokurdakh,70.6333,147.9167,-0.53,91,68,1.9,RU,2021-04-23 22:00:12

In [25]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [195]:
temps

[59.0,
 79.65,
 19.4,
 32.2,
 78.8,
 91.27,
 61.0,
 32.0,
 50.0,
 59.83,
 64.4,
 79.11,
 87.8,
 68.0,
 61.0,
 46.0,
 38.14,
 55.4,
 51.8,
 57.47,
 39.99,
 80.29,
 37.4,
 46.0,
 64.4,
 28.4,
 62.01,
 48.2,
 75.2,
 62.6,
 81.1,
 79.41,
 82.56,
 75.2,
 78.49,
 42.8,
 39.2,
 59.0,
 82.4,
 78.51,
 28.98,
 46.4,
 26.78,
 24.22,
 64.4,
 59.0,
 15.8,
 35.85,
 78.8,
 24.8,
 80.6,
 35.42,
 79.83,
 73.4,
 51.01,
 81.0,
 75.97,
 57.0,
 46.51,
 80.1,
 59.0,
 71.6,
 89.6,
 82.0,
 34.59,
 84.2,
 35.67,
 17.6,
 77.0,
 51.85,
 60.01,
 76.8,
 69.8,
 39.2,
 55.4,
 55.99,
 75.2,
 62.55,
 39.2,
 82.92,
 20.37,
 39.2,
 50.0,
 59.0,
 54.0,
 64.45,
 73.99,
 55.4,
 50.0,
 78.84,
 58.1,
 69.8,
 52.0,
 68.99,
 66.43,
 82.4,
 47.35,
 57.99,
 41.0,
 59.0,
 50.0,
 66.92,
 65.23,
 53.01,
 51.44,
 85.12,
 59.0,
 73.99,
 24.8,
 33.6,
 34.07,
 80.6,
 16.38,
 30.61,
 57.72,
 0,
 12.76,
 57.15,
 59.86,
 51.01,
 82.4,
 82.81,
 53.6,
 50.0,
 14.0,
 61.34,
 35.6,
 34.92,
 72.66,
 43.0,
 31.51,
 60.01,
 64.4,
 33.01,
 81.1,
 84.2,
 75.11,
 62.6,
 28.94,
 55.99,
 81.48,
 77.0,
 93.34,
 60.8,
 28.4,
 65.61,
 46.0,
 36.16,
 54.0,
 71.01,
 37.4,
 66.2,
 70.84,
 80.85,
 75.58,
 44.6,
 61.0,
 82.0,
 37.0,
 56.77,
 79.0,
 84.2,
 39.2,
 71.6,
 39.2,
 60.01,
 42.01,
 66.99,
 34.11,
 35.6,
 87.75,
 80.24,
 44.65,
 82.4,
 64.99,
 61.16,
 86.0,
 59.54,
 64.99,
 43.11,
 70.59,
 63.12,
 59.4,
 58.01,
 78.49,
 39.2,
 85.37,
 42.01,
 78.6,
 76.26,
 81.9,
 57.2,
 69.8,
 50.05,
 82.31,
 7.45,
 38.46,
 78.01,
 80.4,
 57.2,
 80.6,
 58.69,
 23.7,
 69.39,
 69.49,
 87.8,
 32.49,
 82.4,
 43.0,
 32.0,
 69.8,
 32.0,
 46.99,
 59.0,
 13.35,
 22.28,
 71.6,
 35.56,
 77.61,
 78.87,
 65.59,
 75.2,
 69.8,
 22.32,
 80.6,
 69.31,
 26.29,
 79.0,
 22.15,
 46.4,
 98.65,
 44.31,
 68.0,
 81.23,
 84.2,
 79.07,
 4.24,
 35.6,
 57.99,
 33.17,
 65.52,
 79.25,
 10.76,
 62.6,
 78.8,
 84.85,
 71.6,
 89.6,
 39.2,
 74.26,
 55.99,
 16.0,
 70.66,
 51.3,
 77.0,
 82.4,
 63.27,
 70.99,
 50.0,
 50.0,
 51.8,
 59.81,
 59.0,
 51.8,
 37.4,
 42.8,
 59.0,
 73.56,
 36.0,
 78.8,
 84.2,
 81.82,
 55.4,
 53.6,
 28.99,
 64.99,
 51.8,
 78.22,
 73.99,
 18.39,
 33.67,
 49.84,
 47.8,
 42.01,
 34.92,
 71.6,
 53.6,
 59.0,
 80.26,
 57.2,
 40.23,
 62.6,
 77.0,
 63.1,
 54.0,
 67.08,
 33.6,
 31.23,
 77.0,
 83.43,
 41.94,
 51.01,
 74.44,
 82.4,
 65.98,
 64.02,
 41.0,
 57.99,
 55.4,
 65.05,
 81.0,
 30.04,
 79.72,
 32.95,
 59.0,
 45.0,
 53.76,
 67.59,
 57.2,
 69.8,
 75.76,
 83.98,
 71.64,
 75.78,
 72.95,
 77.77,
 78.3,
 20.59,
 72.0,
 35.6,
 63.0,
 80.6,
 80.73,
 51.8,
 79.0,
 79.0,
 62.01,
 64.33,
 78.24,
 30.0,
 42.8,
 24.26,
 75.2,
 36.07,
 52.0,
 64.0,
 77.14,
 80.2,
 30.36,
 31.48,
 62.6,
 63.0,
 78.01,
 82.4,
 82.4,
 82.99,
 69.37,
 73.4,
 76.68,
 89.49,
 80.24,
 61.0,
 18.37,
 30.2,
 28.36,
 53.6,
 70.27,
 60.8,
 81.1,
 69.78,
 60.8,
 35.6,
 32.72,
 32.07,
 96.01,
 30.97,
 64.0,
 59.0,
 66.79,
 55.53,
 91.99,
 72.46,
 78.8,
 63.0,
 50.0,
 28.83,
 34.16,
 79.23,
 33.12,
 34.38,
 69.8,
 77.0,
 75.0,
 34.7,
 32.54,
 86.0,
 79.74,
 28.47,
 35.6,
 68.0,
 71.6,
 54.0,
 77.0,
 21.02,
 42.01,
 82.08,
 84.85,
 52.66,
 79.63,
 82.4,
 80.6,
 29.98,
 59.0,
 73.99,
 83.91,
 64.4,
 51.71,
 78.22,
 61.0,
 62.01,
 76.12,
 73.4,
 46.0,
 82.4,
 32.81,
 37.4,
 31.19,
 53.6,
 57.47,
 56.79,
 31.53,
 70.79,
 77.7,
 73.83,
 95.0,
 67.32,
 66.2,
 33.8,
 46.99,
 28.4,
 73.29,
 66.04,
 39.2,
 43.72,
 55.4,
 51.8,
 80.42,
 89.65,
 14.67,
 35.6,
 62.8,
 75.65,
 26.6,
 71.6,
 87.49,
 57.2,
 63.12,
 68.11,
 62.6,
 72.97,
 53.6,
 82.58,
 86.0,
 41.0,
 44.6,
 84.2,
 82.76,
 37.4,
 54.0,
 78.8,
 31.87,
 68.0,
 74.14,
 49.6,
 74.59,
 50.65,
 78.17,
 82.0,
 74.34,
 78.53,
 36.81,
 95.49,
 89.02,
 23.88,
 70.7,
 57.99,
 36.0,
 78.8,
 22.82,
 46.4,
 55.0,
 54.0,
 78.82,
 62.6,
 59.0,
 66.09,
 46.99,
 66.2,
 77.85,
 63.0,
 80.6,
 72.37,
 69.01,
 59.0,
 26.35,
 10.22,
 64.04,
 32.0,
 34.52,
 88.0,
 57.81,
 59.0,
 75.2,
 37.47,
 77.0,
 80.83,
 87.64,
 91.42,
 82.4,
 75.2,
 59.0,
 27.57,
 59.0,
 57.0,
 62.01,
 72.09,
 62.6,
 43.0,
 83.08,
 68.88,
 73.63,
 74.34,
 37.99,
 70.7,
 77.36,
 60.01,
 63.0,
 86.45,
 77.0,
 44.42,
 51.31,
 53.91,
 36.46,
 82.13,
 83.08,
 64.99,
 73.33,
 46.0,
 33.8,
 19.15,
 83.44,
 61.0,
 55.0,
 33.04,
 83.46,
 36.34,
 37.58,
 73.92,
 86.0,
 65.07,
 33.46,
 48.2,
 77.95,
 77.54,
 68.0,
 45.32,
 61.0,
 69.8,
 80.01,
 23.18,
 57.2,
 57.2,
 42.8]

In [26]:
# Assign the figure variable.
fig = gmaps.figure()

In [197]:
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [55]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [53]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [34]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Kutum,14.2000,24.6667,79.65,17,60,9.35,SD,2021-04-23 21:59:22
4,4,Sakakah,29.9697,40.2064,78.80,11,0,8.05,SA,2021-04-23 21:59:23
11,11,Rikitea,-23.1203,-134.9692,79.11,68,100,17.56,PF,2021-04-23 21:59:26
12,12,Itaituba,-4.2761,-55.9836,87.80,66,20,2.95,BR,2021-04-23 21:59:26
21,21,Atuona,-9.8000,-139.0333,80.29,79,30,22.82,PF,2021-04-23 21:59:30
28,28,Hilo,19.7297,-155.0900,75.20,73,90,6.91,US,2021-04-23 21:58:58
30,30,Port-Gentil,-0.7193,8.7815,81.10,83,63,9.75,GA,2021-04-23 21:56:20
31,31,Trairi,-3.2778,-39.2689,79.41,81,100,8.12,BR,2021-04-23 21:59:34
32,32,Butaritari,3.0707,172.7902,82.56,76,93,9.95,KI,2021-04-23 21:54:59
33,33,Santa Maria,-29.6842,-53.8069,75.20,53,0,8.05,BR,2021-04-23 21:59:34

In [35]:
preferred_cities_df.count()

City_ID       156
City          156
Lat           156
Lng           156
Max Temp      156
Humidity      156
Cloudiness    156
Wind Speed    156
Country       156
Date          156
dtype: int64

In [36]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
1         Kutum      SD     79.65  14.2000   24.6667
4       Sakakah      SA     78.80  29.9697   40.2064
11      Rikitea      PF     79.11 -23.1203 -134.9692
12     Itaituba      BR     87.80  -4.2761  -55.9836
21       Atuona      PF     80.29  -9.8000 -139.0333
28         Hilo      US     75.20  19.7297 -155.0900
30  Port-Gentil      GA     81.10  -0.7193    8.7815
31       Trairi      BR     79.41  -3.2778  -39.2689
32   Butaritari      KI     82.56   3.0707  172.7902
33  Santa Maria      BR     75.20 -29.6842  -53.8069

In [37]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

NameError: name 'params' is not defined

In [38]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}

print(params)

{'radius': 5000, 'types': 'lodging', 'key': 'AIzaSyBIt-7Pcn2wW9_iYXVDRFkHBie5ygmlzZU', 'location': '48.8566, 2.3522'}

In [49]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    #print(params)
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.   
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

IndexError: list index out of range

In [50]:
hotel_df.head(50)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Kutum,SD,79.65,14.2000,24.6667,Dibbo areaمنطقة دبو
4,Sakakah,SA,78.80,29.9697,40.2064,Fakhamat Al Orjoana Apartment
11,Rikitea,PF,79.11,-23.1203,-134.9692,Pension Maro'i
12,Itaituba,BR,87.80,-4.2761,-55.9836,Hotel Campos
21,Atuona,PF,80.29,-9.8000,-139.0333,Villa Enata
28,Hilo,US,75.20,19.7297,-155.0900,Hilo Hawaiian Hotel
30,Port-Gentil,GA,81.10,-0.7193,8.7815,Fengshui Residence
31,Trairi,BR,79.41,-3.2778,-39.2689,janelas do mar
32,Butaritari,KI,82.56,3.0707,172.7902,Isles Sunset Lodge
33,Santa Maria,BR,75.20,-29.6842,-53.8069,Hotel Morotin
34,Cockburn Town,TC,78.49,21.4612,-71.1419,Osprey Beach Hotel
38,Avarua,CK,82.40,-21.2078,-159.7750,Paradise Inn
39,Merauke,ID,78.51,-8.4667,140.3333,
48,Georgetown,MY,78.80,5.4112,100.3354,
50,Kapaa,US,80.60,22.0752,-159.3190,
52,Lorengau,PG,79.83,-2.0226,147.2712,
55,Saint George,US,81.00,37.1041,-113.5841,
56,Balikpapan,ID,75.97,-1.2675,116.8289,
59,Afogados Da Ingazeira,BR,80.10,-7.7508,-37.6392,
62,San Cristobal,VE,89.60,7.7669,-72.2250,
63,Redencao,BR,82.00,-4.2258,-38.7306,
65,Puerto Ayora,EC,84.20,-0.7393,-90.3518,
68,Kaohsiung,TW,77.00,22.6163,120.3133,
71,Dingle,PH,76.80,10.9995,122.6711,
76,Najran,SA,75.20,17.4924,44.1277,
79,Kudahuvadhoo,MV,82.92,2.6708,72.8944,
89,Sorong,ID,78.84,-0.8833,131.2500,
95,Vaini,TO,82.40,-21.2000,-175.2000,
105,Nueva Gerona,CU,85.12,21.8833,-82.8000,
111,Olinda,BR,80.60,-8.0089,-34.8553,
120,Buraydah,SA,82.40,26.3260,43.9750,
121,Gizo,SB,82.81,-8.1030,156.8419,
134,Auki,SB,81.10,-8.7676,160.7034,
135,Ewa Beach,US,84.20,21.3156,-158.0072,
136,Caravelas,BR,75.11,-17.7125,-39.2481,
140,Buxar,IN,81.48,25.5833,83.9833,
141,Saint-Philippe,RE,77.00,-21.3585,55.7679,
153,Kyaikto,MM,80.85,17.3000,97.0167,
154,Esperantina,BR,75.58,-3.9017,-42.2336,
157,Hithadhoo,MV,82.00,-0.6000,73.0833,
160,Cap Malheureux,MU,79.00,-19.9842,57.6142,
161,Alofi,NU,84.20,-19.0595,-169.9187,
170,Dutse,NG,87.75,11.7594,9.3392,
171,Kavieng,PG,80.24,-2.5744,150.7967,
173,Ixtapa,MX,82.40,20.7000,-105.2000,
176,Tautira,PF,86.00,-17.7333,-149.1500,
184,Dong Hoi,VN,78.49,17.4833,106.6000,
186,Tecoanapa,MX,85.37,16.5167,-98.7500,
188,Yenagoa,NG,78.60,4.9247,6.2642,
189,Angoche,MZ,76.26,-16.2325,39.9086,

In [51]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    #print(params)
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.   
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [52]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Kutum,SD,79.65,14.2000,24.6667,Dibbo areaمنطقة دبو
4,Sakakah,SA,78.80,29.9697,40.2064,Fakhamat Al Orjoana Apartment
11,Rikitea,PF,79.11,-23.1203,-134.9692,Pension Maro'i
12,Itaituba,BR,87.80,-4.2761,-55.9836,Hotel Campos
21,Atuona,PF,80.29,-9.8000,-139.0333,Villa Enata
...,...,...,...,...,...,...
554,Umm Kaddadah,SD,83.46,13.6017,26.6876,
558,Iralaya,HN,86.00,15.0000,-83.2333,Iglesia morava renovada
562,Indramayu,ID,77.95,-6.3264,108.3200,Grand Trisula Hotel
563,Jalu,LY,77.54,29.0331,21.5482,صاحبة الفخامة
568,Orange Cove,US,80.01,36.6244,-119.3137,

In [56]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [62]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [63]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [64]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))