## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description,Date
0,0,Palmares Do Sul,-30.2578,-50.5097,67.84,71,60,14.07,BR,broken clouds,2021-04-25 21:24:17
1,1,Ushuaia,-54.8000,-68.3000,51.80,66,40,14.97,AR,scattered clouds,2021-04-25 21:24:18
2,2,Yellowknife,62.4560,-114.3525,12.00,66,90,12.66,CA,light snow,2021-04-25 21:24:18
3,3,Bengkulu,-3.8004,102.2655,75.54,89,66,4.54,ID,broken clouds,2021-04-25 21:19:27
4,4,Rundu,-17.9333,19.7667,63.63,35,4,4.76,NaN,clear sky,2021-04-25 21:24:19

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description,Date
3,3,Bengkulu,-3.8004,102.2655,75.54,89,66,4.54,ID,broken clouds,2021-04-25 21:19:27
17,17,Atuona,-9.8000,-139.0333,79.86,73,47,14.85,PF,scattered clouds,2021-04-25 21:24:24
20,20,Carauari,-4.8828,-66.8958,80.85,89,97,0.76,BR,heavy intensity rain,2021-04-25 21:24:24
23,23,San Policarpo,12.1791,125.5072,77.70,82,100,9.62,PH,overcast clouds,2021-04-25 21:24:25
24,24,Rikitea,-23.1203,-134.9692,78.04,74,100,8.01,PF,overcast clouds,2021-04-25 21:19:32
26,26,Balabac,7.9868,117.0645,81.09,78,46,7.70,PH,scattered clouds,2021-04-25 21:24:06
28,28,Vaini,-21.2000,-175.2000,77.00,88,75,5.75,TO,light rain,2021-04-25 21:24:27
31,31,Keffi,8.8486,7.8736,86.00,58,20,5.75,NG,few clouds,2021-04-25 21:24:28
33,33,Cabo San Lucas,22.8909,-109.9124,82.99,32,90,5.75,MX,overcast clouds,2021-04-25 21:20:08
37,37,Saint-Philippe,-21.3585,55.7679,78.80,69,0,18.41,RE,light rain,2021-04-25 21:24:30

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                214
City                   214
Lat                    214
Lng                    214
Max Temp               214
Humidity               214
Cloudiness             214
Wind Speed             214
Country                214
Current Description    214
Date                   214
dtype: int64

In [14]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                214
City                   214
Lat                    214
Lng                    214
Max Temp               214
Humidity               214
Cloudiness             214
Wind Speed             214
Country                214
Current Description    214
Date                   214
dtype: int64

In [15]:
preferred_cities_df.count()

City_ID                214
City                   214
Lat                    214
Lng                    214
Max Temp               214
Humidity               214
Cloudiness             214
Wind Speed             214
Country                214
Current Description    214
Date                   214
dtype: int64

In [13]:
clean_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description,Date
3,3,Bengkulu,-3.8004,102.2655,75.54,89,66,4.54,ID,broken clouds,2021-04-25 21:19:27
17,17,Atuona,-9.8000,-139.0333,79.86,73,47,14.85,PF,scattered clouds,2021-04-25 21:24:24
20,20,Carauari,-4.8828,-66.8958,80.85,89,97,0.76,BR,heavy intensity rain,2021-04-25 21:24:24
23,23,San Policarpo,12.1791,125.5072,77.70,82,100,9.62,PH,overcast clouds,2021-04-25 21:24:25
24,24,Rikitea,-23.1203,-134.9692,78.04,74,100,8.01,PF,overcast clouds,2021-04-25 21:19:32
...,...,...,...,...,...,...,...,...,...,...,...
701,701,Puerto Madero,14.7208,-92.4215,89.60,58,20,10.36,MX,few clouds,2021-04-25 21:28:49
712,712,Kota Kinabalu,5.9749,116.0724,78.80,89,20,3.44,MY,few clouds,2021-04-25 21:28:54
713,713,Bang Saphan,11.2126,99.5117,75.25,86,89,4.56,TH,overcast clouds,2021-04-25 21:28:54
714,714,Noumea,-22.2763,166.4572,77.00,94,90,3.44,NC,overcast clouds,2021-04-25 21:27:16
715,715,Meoqui,28.2833,-105.4833,87.80,5,75,8.05,MX,broken clouds,2021-04-25 21:28:55

In [16]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Bengkulu,ID,75.54,broken clouds,-3.8004,102.2655,
17,Atuona,PF,79.86,scattered clouds,-9.8000,-139.0333,
20,Carauari,BR,80.85,heavy intensity rain,-4.8828,-66.8958,
23,San Policarpo,PH,77.70,overcast clouds,12.1791,125.5072,
24,Rikitea,PF,78.04,overcast clouds,-23.1203,-134.9692,
26,Balabac,PH,81.09,scattered clouds,7.9868,117.0645,
28,Vaini,TO,77.00,light rain,-21.2000,-175.2000,
31,Keffi,NG,86.00,few clouds,8.8486,7.8736,
33,Cabo San Lucas,MX,82.99,overcast clouds,22.8909,-109.9124,
37,Saint-Philippe,RE,78.80,light rain,-21.3585,55.7679,

In [17]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
hotel_df.count()

City                   214
Country                214
Max Temp               214
Current Description    214
Lat                    214
Lng                    214
Hotel Name             214
dtype: int64

In [20]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.count()

City                   214
Country                214
Max Temp               214
Current Description    214
Lat                    214
Lng                    214
Hotel Name             214
dtype: int64

In [22]:
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Bengkulu,ID,75.54,broken clouds,-3.8004,102.2655,Grage Hotel Bengkulu
17,Atuona,PF,79.86,scattered clouds,-9.8000,-139.0333,Villa Enata
20,Carauari,BR,80.85,heavy intensity rain,-4.8828,-66.8958,Hotel Fellip
23,San Policarpo,PH,77.70,overcast clouds,12.1791,125.5072,JM Lodge
24,Rikitea,PF,78.04,overcast clouds,-23.1203,-134.9692,Pension Maro'i
...,...,...,...,...,...,...,...
701,Puerto Madero,MX,89.60,few clouds,14.7208,-92.4215,Hotel La Central
712,Kota Kinabalu,MY,78.80,few clouds,5.9749,116.0724,Gaya Centre Hotel
713,Bang Saphan,TH,75.25,overcast clouds,11.2126,99.5117,Ladawan Boutique Hotel
714,Noumea,NC,77.00,overcast clouds,-22.2763,166.4572,Hôtel Le Lagon
715,Meoqui,MX,87.80,broken clouds,28.2833,-105.4833,Hotel Paraíso Dorado

In [23]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [26]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [27]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))